    @import "variables";
    .body-contacto {
        @extend %flex;
        @extend %carrusel-banner;
        .contenido_principal {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .contenido_imagen {
            flex-basis: 20%;
        }
        .contenido_formulario {
            flex-basis: 80%;
        }
    }