@import"variables";
* {
    margin: 0;
    padding: 0;
}

.body {
    @extend %flex;
}

.btn {
    background-color: $celeste;
    border: $celeste;
}

.body_header {
    flex-basis: 0.5%;
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 10000;
    .topnav .icon {
        display: none;
    }
    .logo {
        flex-basis: 10%;
    }
    nav {
        flex-basis: 100%;
        a {
            color: black;
            border-radius: 10%;
        }
        a:hover {
            background-color: $celeste;
            border-radius: 10%;
            color: black;
        }
        .header_pagina {
            background-color: $celeste;
            border-radius: 10%;
        }
    }
}

.body_footer {
    flex-basis: 5%;
    background-color: black;
    bottom: 0;
    display: flex;
    flex-direction: column;
    .footer_texto {
        flex-basis: 50%;
        text-align: center;
        color: white;
    }
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Roboto Condensed', sans-serif;
    // font-family: 'Roboto', sans-serif;
}

p {
    font-family: 'Lato', sans-serif;
    // font-family: 'Lato', sans-serif;
}

a {
    font-family: 'Lato', sans-serif;
    // font-family: 'Lato', sans-serif;
}

.black {
    color: black;
}