@import "variables";
.body {
    width: 100%;
    height: 100%;
    @extend %flex;
    .body_carrusel {
        flex-basis: 30%;
        z-index: 1;
        .carousel {
            .carousel-item {
                height: 500px;
                img {
                    position: absolute;
                    object-fit: cover;
                    left: 0;
                    top: 0;
                    min-height: 500px;
                }
                .btn {
                    background-color: $celeste;
                }
                .carousel-caption {
                    margin-bottom: 7%;
                    font-size: 150%;
                    p {
                        margin-top: 2%;
                    }
                }
            }
        }
    }
    .body_yo {
        flex-basis: 15%;
        display: flex;
        flex-direction: column;
        height: 10%;
        .titulo_yo {
            flex-basis: 30%;
            margin-top: 5%;
            font-size: 300%;
            text-align: center;
        }
        .texto_yo {
            flex-basis: 70%;
            width: 50%;
            margin-left: 25%;
            font-size: 120%;
            text-align: center;
        }
    }
    .body_resumen {
        flex-basis: 15%;
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-left: 1.7%;
        margin-top: 10%;
        img {
            height: 40%;
            width: 40%;
            margin-left: 10%;
            margin-bottom: 10%;
        }
        .resumen_uno {
            flex-basis: 25%;
            margin-left: 15%;
            width: 70%;
            .uno_texto {
                text-align: center;
                width: 70%;
            }
            .uno_titulo {
                margin-left: 10%;
                padding-left: 3%;
            }
            img {
                padding-left: 10%;
            }
        }
        .resumen_dos {
            flex-basis: 25%;
            .dos_texto {
                text-align: center;
                width: 70%;
            }
            .dos_titulo {
                margin-left: 8%;
            }
        }
        .resumen_tres {
            flex-basis: 25%;
            .tres_texto {
                text-align: center;
                width: 70%;
            }
            .tres_titulo {
                margin-left: 15%;
            }
        }
    }
    // .fondo2 {
    //     background: rgb(255, 255, 255);
    //     background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(246, 238, 255, 1) 96%);
    // }
    .body_botonServicios {
        flex-basis: 20%;
        margin-top: 3%;
        .boton {
            margin-left: 47%;
            .btn {
                background-color: $celeste;
            }
        }
    }
    .body_about {
        flex-basis: 20%;
        .about_titulo {
            flex-basis: 15%;
            margin-left: 38%;
            margin-top: 7%;
        }
        .about_texto {
            flex-basis: 70%;
            width: 40%;
            margin-left: 30%;
            text-align: center;
        }
    }
    .body_trabajos {
        flex-basis: 20%;
        display: grid;
        grid-template-rows: 40% 10% 40%;
        grid-template-columns: 20% 5% 20% 5% 20% 5% 20%;
        grid-template-areas: "t1 . t2 . t3 . t4 " ". . . . . . ." "t5 . t6 . t7 . t8";
        width: 60%;
        margin-left: 21.7%;
        margin-top: 7%;
        img {
            height: 100%;
            width: 100%;
        }
        .trabajos_1 {
            grid-area: t1;
        }
        .trabajos_2 {
            grid-area: t2;
        }
        .trabajos_3 {
            grid-area: t3;
        }
        .trabajos_4 {
            grid-area: t4;
            margin-top: 5%;
        }
        .trabajos_5 {
            grid-area: t5;
            margin-top: 5%;
        }
        .trabajos_6 {
            grid-area: t6;
            margin-top: 5%;
        }
        .trabajos_7 {
            grid-area: t7;
            margin-top: 5%;
        }
        .trabajos_8 {
            grid-area: t8;
            margin-top: 5%;
        }
    }
}