@import "variables";
.body-portfolio {
    display: flex;
    flex-direction: column;
    @extend %carrusel-banner;
    .portfolio_trabajos {
        flex-basis: 50%;
        display: grid;
        grid-template-rows: 21.3% 5% 21.3% 5% 21.3% 5% 21.3% 5%;
        grid-template-columns: 45% 10% 45%;
        grid-template-areas: "uno_imagen . uno_texto" ". . ." "dos_texto . dos_imagen" ". . ." "tres_imagen . tres_texto" ". . ." "cuatro_texto . cuatro_imagen";
        .uno_imagen {
            grid-area: uno_imagen;
        }
        .uno_texto {
            grid-area: uno_texto;
        }
        .dos_imagen {
            grid-area: dos_imagen;
        }
        .dos_texto {
            grid-area: dos_texto;
        }
        .tres_imagen {
            grid-area: tres_imagen;
        }
        .tres_texto {
            grid-area: tres_texto;
        }
        .cuatro_imagen {
            grid-area: cuatro_imagen;
        }
        .cuatro_texto {
            grid-area: cuatro_texto;
        }
    }
}