@import "variables";
.body-servicios {
    @extend %flex;
    @extend %carrusel-banner;
    .body_design {
        flex-basis: 15%;
        display: grid;
        grid-template-columns: 30% 5% 30% 5% 30%;
        grid-template-rows: 100%;
        grid-template-areas: "imagen . brand . redes";
        .design_imagen {
            grid-area: imagen;
            // @extend %design_items;
        }
        .design_brand {
            grid-area: brand;
            // @extend %design_items;
        }
        .design_redes {
            grid-area: redes;
            // @extend %design_items;
        }
    }
    .body_programacion {
        flex-basis: 15%;
        display: grid;
        grid-template-columns: 40% 10% 40%;
        grid-template-rows: 50% 50%;
        grid-template-areas: "web . seo" " res . serv";
        .programacion_web {
            grid-area: web;
            display: flex;
            .web_titulo {
                flex-basis: 40%;
            }
            .web_texto {
                flex-basis: 60%;
            }
        }
        .programacion_seo {
            grid-area: seo;
            display: flex;
            .seo_titulo {
                flex-basis: 40%;
            }
            .seo_texto {
                flex-basis: 60%;
            }
        }
        .programacion_responsive {
            grid-area: res;
            display: flex;
            .responsive_titulo {
                flex-basis: 40%;
            }
            .responsive_texto {
                flex-basis: 60%;
            }
        }
        .programacion_servidores {
            grid-area: serv;
            display: flex;
            .servidores_titulo {
                flex-basis: 40%;
            }
            .servidores_texto {
                flex-basis: 60%;
            }
        }
    }
    .body_asesoramiento {
        display: flex;
        .asesoramiento_imagen {
            flex-basis: 50%;
        }
        .asesoramiento_texto {
            flex-basis: 50%;
        }
    }
}