$celeste: #ae8cee;
%flex {
    display: flex;
    margin: 0;
    flex-flow: column;
    background-image: url(../../media/1.png);
}

%carrusel-banner {
    .body_carrusel-banner {
        flex-basis: 30%;
        z-index: 1;
        .carousel {
            .carousel-item {
                height: 500px;
                img {
                    position: absolute;
                    object-fit: cover;
                    left: 0;
                    top: 0;
                    min-height: 500px;
                }
                .carousel-caption {
                    margin-bottom: 7%;
                    font-size: 150%;
                    p {
                        margin-top: 2%;
                    }
                }
            }
            button {
                display: none;
            }
        }
    }
}

%design_items {
    height: 100%;
    width: 65%;
    h4 {
        margin-top: 10px;
    }
    img {
        height: 40%;
        width: 40%;
        margin-left: 27%;
    }
    p {
        text-align: center;
        padding: 10px;
    }
}

@function ismultile100($title) {
    @return($title % 50==0);
}

@for $title from 50 through 600 {
    @if (ismultile100($title)) {
        .tamañoLetra-#{$title} {
            font-size: 0% + $title;
        }
    }
}