.body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  background-image: url(../../media/1.png);
}

.body .body_carrusel {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  z-index: 1;
}

.body .body_carrusel .carousel .carousel-item {
  height: 500px;
}

.body .body_carrusel .carousel .carousel-item img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  left: 0;
  top: 0;
  min-height: 500px;
}

.body .body_carrusel .carousel .carousel-item .carousel-caption {
  margin-bottom: 7%;
  font-size: 150%;
}

.body .body_carrusel .carousel .carousel-item .carousel-caption p {
  margin-top: 2%;
}

body .body_carrusel-banner, .body .body_carrusel-banner {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  z-index: 1;
}

body .body_carrusel-banner .carousel .carousel-item, .body .body_carrusel-banner .carousel .carousel-item {
  height: 500px;
}

body .body_carrusel-banner .carousel .carousel-item img, .body .body_carrusel-banner .carousel .carousel-item img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  left: 0;
  top: 0;
  min-height: 500px;
}

body .body_carrusel-banner .carousel .carousel-item .carousel-caption, .body .body_carrusel-banner .carousel .carousel-item .carousel-caption {
  margin-bottom: 7%;
  font-size: 150%;
}

body .body_carrusel-banner .carousel .carousel-item .carousel-caption p, .body .body_carrusel-banner .carousel .carousel-item .carousel-caption p {
  margin-top: 2%;
}

body .body_carrusel-banner .carousel button, .body .body_carrusel-banner .carousel button {
  display: none;
}

.body .body_design .design_isologo, .body .body_design .design_publicitario, .body .body_design .design_redes, .body .body_design .design_catalogo, .body .body_design .design_editorial {
  height: 100%;
  width: 65%;
  background-color: white;
}

.body .body_design .design_isologo h4, .body .body_design .design_publicitario h4, .body .body_design .design_redes h4, .body .body_design .design_catalogo h4, .body .body_design .design_editorial h4 {
  margin-left: 32%;
  margin-top: 10px;
}

.body .body_design .design_isologo img, .body .body_design .design_publicitario img, .body .body_design .design_redes img, .body .body_design .design_catalogo img, .body .body_design .design_editorial img {
  height: 25%;
  width: 50%;
  margin-left: 23%;
  margin-top: 10px;
}

.body .body_design .design_isologo p, .body .body_design .design_publicitario p, .body .body_design .design_redes p, .body .body_design .design_catalogo p, .body .body_design .design_editorial p {
  text-align: center;
  padding: 10px;
}

* {
  margin: 0;
  padding: 0;
}

.btn {
  background-color: #ae8cee;
  border: #ae8cee;
}

.body_header {
  -ms-flex-preferred-size: 0.5%;
      flex-basis: 0.5%;
  height: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 10000;
}

.body_header .logo {
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
  width: 12%;
  height: 100%;
}

.body_header nav {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.body_header nav a {
  color: black;
  border-radius: 10%;
}

.body_header nav a:hover {
  background-color: #ae8cee;
  border-radius: 10%;
}

.body_header nav .header_pagina {
  background-color: #ae8cee;
  border-radius: 10%;
}

.body_footer {
  -ms-flex-preferred-size: 5%;
      flex-basis: 5%;
  background-color: black;
  bottom: 0;
}

.body_footer .footer_texto {
  text-align: center;
  color: white;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Roboto Condensed', sans-serif;
}

p {
  font-family: 'Lato', sans-serif;
}

a {
  font-family: 'Lato', sans-serif;
}

.black {
  color: black;
}

.body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  background-image: url(../../media/1.png);
}

.body .body_carrusel {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  z-index: 1;
}

.body .body_carrusel .carousel .carousel-item {
  height: 500px;
}

.body .body_carrusel .carousel .carousel-item img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  left: 0;
  top: 0;
  min-height: 500px;
}

.body .body_carrusel .carousel .carousel-item .carousel-caption {
  margin-bottom: 7%;
  font-size: 150%;
}

.body .body_carrusel .carousel .carousel-item .carousel-caption p {
  margin-top: 2%;
}

body .body_carrusel-banner, .body .body_carrusel-banner {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  z-index: 1;
}

body .body_carrusel-banner .carousel .carousel-item, .body .body_carrusel-banner .carousel .carousel-item {
  height: 500px;
}

body .body_carrusel-banner .carousel .carousel-item img, .body .body_carrusel-banner .carousel .carousel-item img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  left: 0;
  top: 0;
  min-height: 500px;
}

body .body_carrusel-banner .carousel .carousel-item .carousel-caption, .body .body_carrusel-banner .carousel .carousel-item .carousel-caption {
  margin-bottom: 7%;
  font-size: 150%;
}

body .body_carrusel-banner .carousel .carousel-item .carousel-caption p, .body .body_carrusel-banner .carousel .carousel-item .carousel-caption p {
  margin-top: 2%;
}

body .body_carrusel-banner .carousel button, .body .body_carrusel-banner .carousel button {
  display: none;
}

.body .body_design .design_isologo, .body .body_design .design_publicitario, .body .body_design .design_redes, .body .body_design .design_catalogo, .body .body_design .design_editorial {
  height: 100%;
  width: 65%;
  background-color: white;
}

.body .body_design .design_isologo h4, .body .body_design .design_publicitario h4, .body .body_design .design_redes h4, .body .body_design .design_catalogo h4, .body .body_design .design_editorial h4 {
  margin-left: 32%;
  margin-top: 10px;
}

.body .body_design .design_isologo img, .body .body_design .design_publicitario img, .body .body_design .design_redes img, .body .body_design .design_catalogo img, .body .body_design .design_editorial img {
  height: 25%;
  width: 50%;
  margin-left: 23%;
  margin-top: 10px;
}

.body .body_design .design_isologo p, .body .body_design .design_publicitario p, .body .body_design .design_redes p, .body .body_design .design_catalogo p, .body .body_design .design_editorial p {
  text-align: center;
  padding: 10px;
}

.body {
  width: 100%;
  height: 100%;
}

.body .body_yo {
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 10%;
}

.body .body_yo .titulo_yo {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  margin-top: 5%;
  font-size: 300%;
  text-align: center;
}

.body .body_yo .texto_yo {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  width: 50%;
  margin-left: 25%;
  font-size: 120%;
  text-align: center;
}

.body .body_resumen {
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  margin-left: 1.7%;
  margin-top: 10%;
}

.body .body_resumen img {
  height: 40%;
  width: 40%;
  margin-left: 10%;
  margin-bottom: 10%;
}

.body .body_resumen .resumen_uno {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  margin-left: 15%;
  width: 70%;
}

.body .body_resumen .resumen_uno .uno_texto {
  text-align: center;
  width: 70%;
}

.body .body_resumen .resumen_uno .uno_titulo {
  margin-left: 10%;
  padding-left: 3%;
}

.body .body_resumen .resumen_uno img {
  padding-left: 10%;
}

.body .body_resumen .resumen_dos {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.body .body_resumen .resumen_dos .dos_texto {
  text-align: center;
  width: 70%;
}

.body .body_resumen .resumen_dos .dos_titulo {
  margin-left: 8%;
}

.body .body_resumen .resumen_tres {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.body .body_resumen .resumen_tres .tres_texto {
  text-align: center;
  width: 70%;
}

.body .body_resumen .resumen_tres .tres_titulo {
  margin-left: 15%;
}

.body .body_botonServicios {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  margin-top: 3%;
}

.body .body_botonServicios .boton {
  margin-left: 47%;
}

.body .body_about {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

.body .body_about .about_titulo {
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
  margin-left: 38%;
  margin-top: 7%;
}

.body .body_about .about_texto {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  width: 40%;
  margin-left: 30%;
  text-align: center;
}

.body .body_trabajos {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 70% 30%;
      grid-template-rows: 70% 30%;
  -ms-grid-columns: 20% 5% 20% 5% 20% 5% 20%;
      grid-template-columns: 20% 5% 20% 5% 20% 5% 20%;
      grid-template-areas: "t1 . t2 . t3 . t4 " ". . . . . . .";
  width: 60%;
  margin-left: 21.7%;
  margin-top: 7%;
}

.body .body_trabajos img {
  height: 100%;
  width: 100%;
}

.body .body_trabajos .trabajos_1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: t1;
}

.body .body_trabajos .trabajos_2 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: t2;
}

.body .body_trabajos .trabajos_3 {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: t3;
}

.body .body_trabajos .trabajos_4 {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
  grid-area: t4;
}

.body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  background-image: url(../../media/1.png);
}

.body .body_carrusel {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  z-index: 1;
}

.body .body_carrusel .carousel .carousel-item {
  height: 500px;
}

.body .body_carrusel .carousel .carousel-item img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  left: 0;
  top: 0;
  min-height: 500px;
}

.body .body_carrusel .carousel .carousel-item .carousel-caption {
  margin-bottom: 7%;
  font-size: 150%;
}

.body .body_carrusel .carousel .carousel-item .carousel-caption p {
  margin-top: 2%;
}

body .body_carrusel-banner, .body .body_carrusel-banner {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  z-index: 1;
}

body .body_carrusel-banner .carousel .carousel-item, .body .body_carrusel-banner .carousel .carousel-item {
  height: 500px;
}

body .body_carrusel-banner .carousel .carousel-item img, .body .body_carrusel-banner .carousel .carousel-item img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  left: 0;
  top: 0;
  min-height: 500px;
}

body .body_carrusel-banner .carousel .carousel-item .carousel-caption, .body .body_carrusel-banner .carousel .carousel-item .carousel-caption {
  margin-bottom: 7%;
  font-size: 150%;
}

body .body_carrusel-banner .carousel .carousel-item .carousel-caption p, .body .body_carrusel-banner .carousel .carousel-item .carousel-caption p {
  margin-top: 2%;
}

body .body_carrusel-banner .carousel button, .body .body_carrusel-banner .carousel button {
  display: none;
}

.body .body_design .design_isologo, .body .body_design .design_publicitario, .body .body_design .design_redes, .body .body_design .design_catalogo, .body .body_design .design_editorial {
  height: 100%;
  width: 65%;
  background-color: white;
}

.body .body_design .design_isologo h4, .body .body_design .design_publicitario h4, .body .body_design .design_redes h4, .body .body_design .design_catalogo h4, .body .body_design .design_editorial h4 {
  margin-left: 32%;
  margin-top: 10px;
}

.body .body_design .design_isologo img, .body .body_design .design_publicitario img, .body .body_design .design_redes img, .body .body_design .design_catalogo img, .body .body_design .design_editorial img {
  height: 25%;
  width: 50%;
  margin-left: 23%;
  margin-top: 10px;
}

.body .body_design .design_isologo p, .body .body_design .design_publicitario p, .body .body_design .design_redes p, .body .body_design .design_catalogo p, .body .body_design .design_editorial p {
  text-align: center;
  padding: 10px;
}

.body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  background-image: url(../../media/1.png);
}

.body .body_carrusel {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  z-index: 1;
}

.body .body_carrusel .carousel .carousel-item {
  height: 500px;
}

.body .body_carrusel .carousel .carousel-item img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  left: 0;
  top: 0;
  min-height: 500px;
}

.body .body_carrusel .carousel .carousel-item .carousel-caption {
  margin-bottom: 7%;
  font-size: 150%;
}

.body .body_carrusel .carousel .carousel-item .carousel-caption p {
  margin-top: 2%;
}

body .body_carrusel-banner, .body .body_carrusel-banner {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  z-index: 1;
}

body .body_carrusel-banner .carousel .carousel-item, .body .body_carrusel-banner .carousel .carousel-item {
  height: 500px;
}

body .body_carrusel-banner .carousel .carousel-item img, .body .body_carrusel-banner .carousel .carousel-item img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  left: 0;
  top: 0;
  min-height: 500px;
}

body .body_carrusel-banner .carousel .carousel-item .carousel-caption, .body .body_carrusel-banner .carousel .carousel-item .carousel-caption {
  margin-bottom: 7%;
  font-size: 150%;
}

body .body_carrusel-banner .carousel .carousel-item .carousel-caption p, .body .body_carrusel-banner .carousel .carousel-item .carousel-caption p {
  margin-top: 2%;
}

body .body_carrusel-banner .carousel button, .body .body_carrusel-banner .carousel button {
  display: none;
}

.body .body_design .design_isologo, .body .body_design .design_publicitario, .body .body_design .design_redes, .body .body_design .design_catalogo, .body .body_design .design_editorial {
  height: 100%;
  width: 65%;
  background-color: white;
}

.body .body_design .design_isologo h4, .body .body_design .design_publicitario h4, .body .body_design .design_redes h4, .body .body_design .design_catalogo h4, .body .body_design .design_editorial h4 {
  margin-left: 32%;
  margin-top: 10px;
}

.body .body_design .design_isologo img, .body .body_design .design_publicitario img, .body .body_design .design_redes img, .body .body_design .design_catalogo img, .body .body_design .design_editorial img {
  height: 25%;
  width: 50%;
  margin-left: 23%;
  margin-top: 10px;
}

.body .body_design .design_isologo p, .body .body_design .design_publicitario p, .body .body_design .design_redes p, .body .body_design .design_catalogo p, .body .body_design .design_editorial p {
  text-align: center;
  padding: 10px;
}

body {
  display: -ms-grid;
  display: grid;
}

body .portfolio_titulo {
  height: 50%;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

body .portfolio_titulo h1 {
  font-size: 200%;
  text-align: center;
  margin-top: 2%;
}

body .portfolio_trabajos {
  margin-top: 10%;
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  height: 20%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 21.3% 5% 21.3% 5% 21.3% 5% 21.3% 5%;
      grid-template-rows: 21.3% 5% 21.3% 5% 21.3% 5% 21.3% 5%;
  -ms-grid-columns: 45% 10% 45%;
      grid-template-columns: 45% 10% 45%;
      grid-template-areas: "uno_imagen . uno_texto" ". . ." "dos_texto . dos_imagen" ". . ." "tres_imagen . tres_texto" ". . ." "cuatro_texto . cuatro_imagen";
}

body .portfolio_trabajos .uno_imagen {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: uno_imagen;
  margin-left: 60%;
  height: 90%;
  width: 40%;
}

body .portfolio_trabajos .uno_texto {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: uno_texto;
  margin-top: 12%;
  margin-right: 40%;
}

body .portfolio_trabajos .dos_imagen {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: dos_imagen;
  height: 90%;
  width: 40%;
}

body .portfolio_trabajos .dos_texto {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: dos_texto;
  margin-top: 12%;
  margin-left: 40%;
}

body .portfolio_trabajos .tres_imagen {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: tres_imagen;
  margin-left: 60%;
  height: 90%;
  width: 40%;
}

body .portfolio_trabajos .tres_texto {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
  grid-area: tres_texto;
  margin-top: 12%;
  margin-right: 40%;
}

body .portfolio_trabajos .cuatro_imagen {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
  grid-area: cuatro_imagen;
  height: 90%;
  width: 40%;
}

body .portfolio_trabajos .cuatro_texto {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: cuatro_texto;
  margin-top: 12%;
  margin-left: 40%;
}

.body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  background-image: url(../../media/1.png);
}

.body .body_carrusel {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  z-index: 1;
}

.body .body_carrusel .carousel .carousel-item {
  height: 500px;
}

.body .body_carrusel .carousel .carousel-item img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  left: 0;
  top: 0;
  min-height: 500px;
}

.body .body_carrusel .carousel .carousel-item .carousel-caption {
  margin-bottom: 7%;
  font-size: 150%;
}

.body .body_carrusel .carousel .carousel-item .carousel-caption p {
  margin-top: 2%;
}

body .body_carrusel-banner, .body .body_carrusel-banner {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  z-index: 1;
}

body .body_carrusel-banner .carousel .carousel-item, .body .body_carrusel-banner .carousel .carousel-item {
  height: 500px;
}

body .body_carrusel-banner .carousel .carousel-item img, .body .body_carrusel-banner .carousel .carousel-item img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  left: 0;
  top: 0;
  min-height: 500px;
}

body .body_carrusel-banner .carousel .carousel-item .carousel-caption, .body .body_carrusel-banner .carousel .carousel-item .carousel-caption {
  margin-bottom: 7%;
  font-size: 150%;
}

body .body_carrusel-banner .carousel .carousel-item .carousel-caption p, .body .body_carrusel-banner .carousel .carousel-item .carousel-caption p {
  margin-top: 2%;
}

body .body_carrusel-banner .carousel button, .body .body_carrusel-banner .carousel button {
  display: none;
}

.body .body_design .design_isologo, .body .body_design .design_publicitario, .body .body_design .design_redes, .body .body_design .design_catalogo, .body .body_design .design_editorial {
  height: 100%;
  width: 65%;
  background-color: white;
}

.body .body_design .design_isologo h4, .body .body_design .design_publicitario h4, .body .body_design .design_redes h4, .body .body_design .design_catalogo h4, .body .body_design .design_editorial h4 {
  margin-left: 32%;
  margin-top: 10px;
}

.body .body_design .design_isologo img, .body .body_design .design_publicitario img, .body .body_design .design_redes img, .body .body_design .design_catalogo img, .body .body_design .design_editorial img {
  height: 25%;
  width: 50%;
  margin-left: 23%;
  margin-top: 10px;
}

.body .body_design .design_isologo p, .body .body_design .design_publicitario p, .body .body_design .design_redes p, .body .body_design .design_catalogo p, .body .body_design .design_editorial p {
  text-align: center;
  padding: 10px;
}

.body {
  width: 100%;
  height: 100%;
}

.body .body_logo {
  -ms-flex-preferred-size: 33.3%;
      flex-basis: 33.3%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33% 33% 33%;
      grid-template-columns: 33% 33% 33%;
  -ms-grid-rows: 50% 50%;
      grid-template-rows: 50% 50%;
      grid-template-areas: "nombres marca exp" "nombres marca exp";
  margin-top: 4%;
  justify-items: center;
}

.body .body_logo .logo_nombres {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: nombres;
}

.body .body_logo .logo_nombres .nombres_elit {
  margin-left: 0%;
  text-align: center;
}

.body .body_logo .logo_nombres .nombres_mas {
  margin-left: 40%;
}

.body .body_logo .logo_marca {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: marca;
  margin-top: 5%;
}

.body .body_logo .logo_marca .logo {
  height: 100%;
  width: 20%;
  margin-left: 42%;
}

.body .body_logo .logo_marca p {
  margin-left: 33%;
  margin-top: 3%;
}

.body .body_logo .logo_marca .marca_titulo {
  margin-top: 1%;
  margin-left: 45%;
}

.body .body_logo .logo_explicacion {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: exp;
}

.body .body_logo .logo_explicacion .explicacion_texto {
  margin-top: 10%;
  margin-right: 25%;
  margin-left: 25%;
}

.body .body_columnas-about {
  margin-top: 5%;
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  margin-left: 1.7%;
  margin-top: 15%;
  margin-bottom: 5%;
}

.body .body_columnas-about img {
  height: 40%;
  width: 40%;
  margin-bottom: 5%;
  margin-top: 5%;
}

.body .body_columnas-about .columnas_vision {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  margin-left: 10%;
  background-color: white;
}

.body .body_columnas-about .columnas_vision .vision_texto {
  text-align: center;
  width: 100%;
  padding-left: 20%;
  padding-right: 20%;
}

.body .body_columnas-about .columnas_vision img {
  margin-left: 28%;
}

.body .body_columnas-about .columnas_historia {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  background-color: white;
  margin-left: 2%;
}

.body .body_columnas-about .columnas_historia .historia_texto {
  text-align: center;
  width: 100%;
  padding-left: 20%;
  padding-right: 20%;
}

.body .body_columnas-about .columnas_historia img {
  margin-left: 30%;
}

.body .body_columnas-about .columnas_valores {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  background-color: white;
  margin-left: 2%;
}

.body .body_columnas-about .columnas_valores .valores_texto {
  text-align: center;
  width: 100%;
  padding-left: 20%;
  padding-right: 20%;
}

.body .body_columnas-about .columnas_valores img {
  margin-left: 30%;
}

.body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  background-image: url(../../media/1.png);
}

.body .body_carrusel {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  z-index: 1;
}

.body .body_carrusel .carousel .carousel-item {
  height: 500px;
}

.body .body_carrusel .carousel .carousel-item img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  left: 0;
  top: 0;
  min-height: 500px;
}

.body .body_carrusel .carousel .carousel-item .carousel-caption {
  margin-bottom: 7%;
  font-size: 150%;
}

.body .body_carrusel .carousel .carousel-item .carousel-caption p {
  margin-top: 2%;
}

body .body_carrusel-banner, .body .body_carrusel-banner {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  z-index: 1;
}

body .body_carrusel-banner .carousel .carousel-item, .body .body_carrusel-banner .carousel .carousel-item {
  height: 500px;
}

body .body_carrusel-banner .carousel .carousel-item img, .body .body_carrusel-banner .carousel .carousel-item img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  left: 0;
  top: 0;
  min-height: 500px;
}

body .body_carrusel-banner .carousel .carousel-item .carousel-caption, .body .body_carrusel-banner .carousel .carousel-item .carousel-caption {
  margin-bottom: 7%;
  font-size: 150%;
}

body .body_carrusel-banner .carousel .carousel-item .carousel-caption p, .body .body_carrusel-banner .carousel .carousel-item .carousel-caption p {
  margin-top: 2%;
}

body .body_carrusel-banner .carousel button, .body .body_carrusel-banner .carousel button {
  display: none;
}

.body .body_design .design_isologo, .body .body_design .design_publicitario, .body .body_design .design_redes, .body .body_design .design_catalogo, .body .body_design .design_editorial {
  height: 100%;
  width: 65%;
  background-color: white;
}

.body .body_design .design_isologo h4, .body .body_design .design_publicitario h4, .body .body_design .design_redes h4, .body .body_design .design_catalogo h4, .body .body_design .design_editorial h4 {
  margin-left: 32%;
  margin-top: 10px;
}

.body .body_design .design_isologo img, .body .body_design .design_publicitario img, .body .body_design .design_redes img, .body .body_design .design_catalogo img, .body .body_design .design_editorial img {
  height: 25%;
  width: 50%;
  margin-left: 23%;
  margin-top: 10px;
}

.body .body_design .design_isologo p, .body .body_design .design_publicitario p, .body .body_design .design_redes p, .body .body_design .design_catalogo p, .body .body_design .design_editorial p {
  text-align: center;
  padding: 10px;
}

.body {
  width: 100%;
  height: 100%;
}

.body .body_triangulo {
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 20% 20% 20% 20%;
      grid-template-columns: 20% 20% 20% 20% 20%;
  -ms-grid-rows: 50% 50%;
      grid-template-rows: 50% 50%;
      grid-template-areas: ". tr1 titulo tr2 ." ". tr3 titulo tr4 .";
  margin-top: 1%;
}

.body .body_triangulo .triangulo_titulo {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: titulo;
  margin-left: 10%;
  margin-top: 20%;
}

.body .body_triangulo .triangulo_1 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: tr1;
  margin-top: 5%;
  -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
          clip-path: polygon(50% 100%, 0 0, 100% 0);
  height: 80%;
  width: 50%;
}

.body .body_triangulo .triangulo_1 img {
  height: 100%;
  width: 100%;
}

.body .body_triangulo .triangulo_2 {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: tr2;
  margin-top: 5%;
  -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
          clip-path: polygon(50% 100%, 0 0, 100% 0);
  height: 80%;
  width: 50%;
  margin-left: 50%;
}

.body .body_triangulo .triangulo_2 img {
  height: 100%;
  width: 100%;
}

.body .body_triangulo .triangulo_3 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: tr3;
  margin-top: 5%;
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
          clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  height: 80%;
  width: 50%;
  margin-left: 50%;
}

.body .body_triangulo .triangulo_3 img {
  height: 100%;
  width: 100%;
}

.body .body_triangulo .triangulo_4 {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: tr4;
  margin-top: 5%;
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
          clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  height: 80%;
  width: 50%;
}

.body .body_triangulo .triangulo_4 img {
  height: 100%;
  width: 100%;
}

.body .body_design-titulo {
  margin-left: 45%;
  margin-top: 15%;
}

.body .body_design {
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 20% 20% 20% 20%;
      grid-template-columns: 20% 20% 20% 20% 20%;
  -ms-grid-rows: 50% 50%;
      grid-template-rows: 50% 50%;
      grid-template-areas: "iso . publi . redes" ". cat . edit .";
  margin-top: 1%;
  justify-items: center;
}

.body .body_design .design_isologo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: iso;
}

.body .body_design .design_publicitario {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: publi;
}

.body .body_design .design_redes {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: redes;
}

.body .body_design .design_catalogo {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: cat;
}

.body .body_design .design_editorial {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: edit;
}

.body .body_programacion-titulo {
  margin-left: 42%;
  margin-top: 10%;
}

.body .body_programacion {
  margin-left: 2%;
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 10% 40%;
      grid-template-columns: 40% 10% 40%;
  -ms-grid-rows: 50% 50%;
      grid-template-rows: 50% 50%;
      grid-template-areas: "back . res" " web . serv";
  margin-top: 1%;
}

.body .body_programacion .programacion_back {
  margin-top: 5%;
  margin-left: 2%;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: back;
  height: 50%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.body .body_programacion .programacion_back .back_titulo {
  margin-top: 5%;
  padding-right: 10%;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  text-align: center;
}

.body .body_programacion .programacion_back .back_texto {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  text-align: center;
}

.body .body_programacion .programacion_web {
  margin-top: 5%;
  margin-left: 2%;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: web;
  height: 50%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.body .body_programacion .programacion_web .web_titulo {
  margin-top: 7%;
  padding-right: 10%;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  text-align: center;
}

.body .body_programacion .programacion_web .web_texto {
  margin-top: 5%;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  text-align: center;
}

.body .body_programacion .programacion_responsive {
  margin-top: 5%;
  margin-left: 20%;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: res;
  height: 50%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.body .body_programacion .programacion_responsive .responsive_titulo {
  margin-top: 5%;
  padding-left: 10%;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  text-align: center;
}

.body .body_programacion .programacion_responsive .responsive_texto {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  text-align: center;
}

.body .body_programacion .programacion_servidores {
  margin-top: 10%;
  margin-left: 20%;
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: serv;
  height: 50%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.body .body_programacion .programacion_servidores .servidores_titulo {
  margin-top: 1%;
  padding-left: 10%;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  text-align: center;
}

.body .body_programacion .programacion_servidores .servidores_texto {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  text-align: center;
}

.body .body_asesoramiento-titulo {
  margin-left: 42%;
  margin-top: 10%;
}

.body .body_asesoramiento {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.body .body_asesoramiento .asesoramiento_imagen {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  height: 50%;
  width: 50%;
  margin-top: 2%;
  margin-bottom: 5%;
  margin-left: 14%;
}

.body .body_asesoramiento .asesoramiento_imagen img {
  height: 50%;
  width: 50%;
}

.body .body_asesoramiento .asesoramiento_texto {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  text-align: center;
  margin-right: 10%;
  margin-top: 5%;
  margin-left: 0%;
}

.body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  background-image: url(../../media/1.png);
}

.body .body_carrusel {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  z-index: 1;
}

.body .body_carrusel .carousel .carousel-item {
  height: 500px;
}

.body .body_carrusel .carousel .carousel-item img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  left: 0;
  top: 0;
  min-height: 500px;
}

.body .body_carrusel .carousel .carousel-item .carousel-caption {
  margin-bottom: 7%;
  font-size: 150%;
}

.body .body_carrusel .carousel .carousel-item .carousel-caption p {
  margin-top: 2%;
}

body .body_carrusel-banner, .body .body_carrusel-banner {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  z-index: 1;
}

body .body_carrusel-banner .carousel .carousel-item, .body .body_carrusel-banner .carousel .carousel-item {
  height: 500px;
}

body .body_carrusel-banner .carousel .carousel-item img, .body .body_carrusel-banner .carousel .carousel-item img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  left: 0;
  top: 0;
  min-height: 500px;
}

body .body_carrusel-banner .carousel .carousel-item .carousel-caption, .body .body_carrusel-banner .carousel .carousel-item .carousel-caption {
  margin-bottom: 7%;
  font-size: 150%;
}

body .body_carrusel-banner .carousel .carousel-item .carousel-caption p, .body .body_carrusel-banner .carousel .carousel-item .carousel-caption p {
  margin-top: 2%;
}

body .body_carrusel-banner .carousel button, .body .body_carrusel-banner .carousel button {
  display: none;
}

.body .body_design .design_isologo, .body .body_design .design_publicitario, .body .body_design .design_redes, .body .body_design .design_catalogo, .body .body_design .design_editorial {
  height: 100%;
  width: 65%;
  background-color: white;
}

.body .body_design .design_isologo h4, .body .body_design .design_publicitario h4, .body .body_design .design_redes h4, .body .body_design .design_catalogo h4, .body .body_design .design_editorial h4 {
  margin-left: 32%;
  margin-top: 10px;
}

.body .body_design .design_isologo img, .body .body_design .design_publicitario img, .body .body_design .design_redes img, .body .body_design .design_catalogo img, .body .body_design .design_editorial img {
  height: 25%;
  width: 50%;
  margin-left: 23%;
  margin-top: 10px;
}

.body .body_design .design_isologo p, .body .body_design .design_publicitario p, .body .body_design .design_redes p, .body .body_design .design_catalogo p, .body .body_design .design_editorial p {
  text-align: center;
  padding: 10px;
}

.body {
  width: 100%;
  height: 100%;
}

.body .contacto_contenido {
  margin-top: 3%;
}

.body .contenido_principal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.body .contenido_imagen {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  margin-left: 45%;
  height: 15%;
  width: 15%;
}

.body .contenido_formulario {
  margin-top: 5%;
  margin-left: 35%;
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  margin-bottom: 15%;
}

.body .contenido_formulario .nombre {
  width: 50%;
  margin-top: 1%;
}

.body .contenido_formulario .apellido {
  width: 50%;
  margin-top: 1%;
}

.body .contenido_formulario .email {
  width: 50%;
  margin-top: 1%;
}

.body .contenido_formulario .mensaje {
  width: 50%;
  margin-top: 1%;
}

.body .contenido_formulario .enviar {
  margin-left: 5%;
  margin-top: 5%;
}

.body .contenido_formulario .limpiar {
  margin-left: 15%;
  margin-top: 5%;
}

.body .contenido_formulario label {
  color: #ffffff;
}
/*# sourceMappingURL=estilosScss.css.map */